// font settings:
$fontFace: JetBrainsMono Nerd Font;
$fontHoverStyle: normal;
$fontHoverWeight: bold;
$fontWeight: 800;
$fontH1Size: 2.2em;
$fontH2Size: 1.2em;
$fontLiFCSize: 1.5em;
$fontASize: 1.1em;
$fontLineHeight: 110%;

// color settings:
$themeFg: #d8caac;
$themeFgAlt: #607279;
$themeAccent: #87c095;
$themeHover: #89beba;
$themeBg: #2b3339;
